<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <clear />
    <add name="NHibernateSampleDb"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=.\SQL14_Local;Initial Catalog=NHibernateSampleDb;Persist Security Info=True;User ID=sa;Password=AccessSQL14Enterprise310;" />
  </connectionStrings>
</configuration>